body {
  background-color: rgb(7, 110, 62);
}

header {
  border: 10px solid ivory;
  border-style: double groove;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  background-image: url("../images/kids.jpg");
}
.instructions {
  border: 10px solid ivory;
  border-style: double groove;
  height: 100px;
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(7, 110, 62);
}
.container {
  border: 10px solid ivory;
  border-style: double groove;
  height: 1000px;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-image: url("../images/minewithsnow.jpg");
  background-position: top;
  border-image-width: 80%;
}
h1,
h2 {
  font-size: 50px;
  color:rgb(235, 235, 20);
  font-weight: bolder;
  font-stretch: ultra-expanded;
}
h3 {
  font-size: 30px;
  color: rgb(235, 235, 20);
  font-weight: bold;
}
p {
  color: oldlace;
}
.currentScoreBox {
  border: 10px solid ivory;
  border-style: double groove;
  height: 120px;
  width: 20%;
  margin: 5px auto;
  font-size: 15px;
  text-align: center;
  color: rgb(235, 235, 20);
  font-weight: bolder;
  background-color: rgb(7, 110, 62);
  position: fixed ;
  position: relative;
}
.randomNumber {
  border: 4px solid black;
  height: 100px;
  width: 40%;
  margin: 5px auto;
  font-size: 20px;
  text-align: left;
  color: rgb(35, 115, 219);
  font-weight: bolder;
  background-color: rgb(7, 110, 62);
}
.totalWins {
  border: 10px solid ivory;
  border-style: double groove;
  height: 50px;
  width: 20%;
  margin: 5px auto;
  font-size: 15px;
  text-align: center;
  color: rgb(235, 235, 20);
  font-weight: bolder;
  background-color: rgb(7, 110, 62);
}
.totalLosses {
  border: 10px solid ivory;
  border-style: double groove;
  height: 50px;
  width: 20%;
  margin: 5px auto;
  font-size: 15px;
  text-align: center;
  color: rgb(235, 235, 20);
  font-weight: bolder;
  background-color: rgb(7, 110, 62);
}
.crystals {
  border: 10px solid ivory;
  border-style: double groove;
  height: 440px;
  width: 37%;
  margin: 10px auto;
  font-size: 20px;
  text-align: center;
  color: rgb(35, 115, 219);
  font-weight: bolder;
  background-image: url("../images/mineshaft.jpg");
}
.crystal1 {
  border: 10px solid rgb(235, 235, 20);
  border-style: double groove;
  height: 100px;
  width: 100px;
  margin: 5px auto;
  text-align: center;
  color: rgb(35, 115, 219);
}
.crystal2 {
  border: 10px solid rgb(235, 235, 20);
  border-style: double groove;
  height: 100px;
  width: 100px;
  margin: 5px auto;
  text-align: center;
  color: rgb(35, 115, 219);
}
.crystal3 {
  border: 10px solid rgb(235, 235, 20);
  border-style: double groove;
  height: 100px;
  width: 100px;
  margin: 5px auto;
  text-align: center;
  color: rgb(35, 115, 219);
}
.crystal4 {
  border: 10px solid rgb(235, 235, 20);
  border-style: double groove;
  height: 100px;
  width: 100px;
  margin: 5px auto;
  text-align: center;
  color: rgb(35, 115, 219);
}
